<h1>First we will enter a sentence. <br><br> then we will enter a word </h1>
<form action='/wc_output'>
  <div class="form-group">
    <label for="text_block">Enter a sentence here:</label>
    <input id="text_block" name="text_block" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word">Lets count that word!</label>
    <input id="word" name="word" class="form-control" type="text" size= "50">
  </div>
  <button type="submit" class="btn btn-lrg btn-sucess">Count!</button>
</form>
