<!DOCTYPE html>
<html>

<head>
  <title>Word Counter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>

<body>

  <h1>Welcome to Word Counter!</h1>

  <%= yield %>

</body>

</html>
