<h1><small>results:</small></h1>

<p><small>Word:</small> &nbsp; <%= @word %></p>

<p><small>Count:</small> &nbsp; <%= @result %></p>

<div class="left">
  <a href="/"><strong>Go Back</strong><a>
</div>
